.page-header {
    background-color: #009579;
    margin-top: 0;
    padding: 70px;
    color: #FFF;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #fff;
    font-size: 30pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-left: 40px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

h1 {
    color: #FFF;
    font-family: 'Work Sans', Arial, sans-serif;
    text-transform: uppercase;
}

h1 a:hover {
    color: #009579;
    text-decoration: underline;
}

body {
    color: #5a5a5a;
}

h2 {
  font-size: 22px;
  color: #009579;
  font-family: 'Work Sans', Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 a {
  color: #009579;
  font-family: 'Work Sans', Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 a:hover {
  color: #009579;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 30px;
}
